@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
}

.clicked {
  background-color: #2ecc71;
  color: white;
}

.disabled-button {
  background-color: #c9f6dc;
  color: white;
}

.btn,
.active {
  padding: 10px;
  width: 500px;
  border: 1px solid white;
  border-radius: 5px;
  background: none;
  color: white;
}

.active {
  background: white;
  color: black;
}

.btn:hover {
  background: white;
  cursor: pointer;
  color: black;
}
